Repository thalesrc/thalesrc: changes, and which Codecov flags are due for each by the changed paths.
All: hermes, js-utils, ts-utils, rx-utils, react-utils, node-utils, nx-utils, dom-utils, drag-drop, extra-ts-types, paintlet, reactive-storage

build(rx-utils): update rx-utils publish workflow to trigger on push events with versioned tags
  .github/workflows/release-dispatcher.yml
  .github/workflows/rx-utils.publish.yml
Due: none

refactor(extra-ts-types): rename package references from @thalesrc to @telperion across multiple files
  .github/workflows/extra-ts-types.publish.yml
  .github/workflows/release-dispatcher.yml
  README.md
  apps/osw/home/src/Home/libraries.ts
  libs/elements/package.json
  libs/elements/src/router/tha-route.ts
  libs/extra-ts-types/LICENSE
  libs/extra-ts-types/README.md
  libs/extra-ts-types/package.json
  libs/js-utils/package.json
  libs/js-utils/src/array/proto/remove.ts
  libs/js-utils/src/array/proto/replace.ts
  libs/js-utils/src/function/proto/debounce.ts
  libs/js-utils/src/object/deepest.ts
  libs/js-utils/src/open-promise.ts
  libs/js-utils/src/string/proto/limit.ts
  libs/ng-pack/ng-package.json
  libs/ng-pack/package.json
  libs/ng-pack/utils/src/construct-fetcher.ts
  libs/react-utils/package.json
  libs/react-utils/src/hooks/auth-fetch/AuthFetch.context.tsx
  tsconfig.base.json
Due: js-utils, react-utils

refactor(elements): remove drag-drop library and integrate its components into elements
  .codecov.yml
  .github/workflows/drag-drop.publish.yml
  .github/workflows/release-dispatcher.yml
  CONTRIBUTING.md
  README.md
  apps/osw/home/src/Home/libraries.ts
  libs/drag-drop/.storybook/main.ts
  libs/drag-drop/.storybook/preview.ts
  libs/drag-drop/LICENSE
  libs/drag-drop/README.md
  libs/drag-drop/eslint.config.js
  libs/drag-drop/package.json
  libs/drag-drop/project.json
  libs/drag-drop/src/drag-element.stories.ts
  libs/drag-drop/src/drag-element.ts
  libs/drag-drop/src/drag-handle-element.ts
  libs/drag-drop/src/dropzone-element.ts
  libs/drag-drop/src/index.ts
  libs/drag-drop/src/private-props.ts
  libs/drag-drop/src/tha-drag-event.ts
  libs/drag-drop/tsconfig.json
  libs/drag-drop/tsconfig.lib.json
  libs/drag-drop/tsconfig.spec.json
  libs/drag-drop/tsconfig.storybook.json
  libs/drag-drop/vite.config.storybook.ts
  libs/drag-drop/vite.config.ts
  libs/elements/.storybook/preview.ts
  libs/elements/package.json
  libs/elements/src/drag-drop/drag-element.stories.ts
  libs/elements/src/drag-drop/drag-element.ts
  libs/elements/src/drag-drop/drag-handle-element.ts
  libs/elements/src/drag-drop/dropzone-element.ts
  libs/elements/src/drag-drop/index.ts
  libs/elements/src/drag-drop/private-props.ts
  libs/elements/src/drag-drop/tha-drag-event.ts
  libs/elements/src/index.ts
  tsconfig.base.json
Due: drag-drop

feat(ng-pack/sse-client): add withBaseInit function for default EventSourceInit options
  libs/ng-pack/README.md
  libs/ng-pack/sse-client/README.md
  libs/ng-pack/sse-client/src/features/index.ts
  libs/ng-pack/sse-client/src/features/with-base-init.ts
Due: none

refactor(ng-pack): update js-utils package reference from @thalesrc to @telperion
  libs/ng-pack/ng-package.json
  libs/ng-pack/package.json
  libs/ng-pack/utils/src/construct-fetcher.ts
Due: none

feat(ng-pack/utils): add toSignal function for converting values, Promises, or Observables to Signals
  libs/ng-pack/README.md
  libs/ng-pack/package.json
  libs/ng-pack/utils/README.md
  libs/ng-pack/utils/src/index.ts
  libs/ng-pack/utils/src/to-signal.ts
Due: none

fix(ng-pack/utils): correct type parameter in toSignal function options
  libs/ng-pack/utils/src/to-signal.ts
Due: none

refactor(messenger): replace callback with call function in deinitialization
  libs/messenger/src/iframe/message-host.ts
Due: none

feat(paintlet): add Check Paintlet with customizable grid-line pattern
  libs/paintlet/package.json
  libs/paintlet/src/check/check.paintlet.stories.ts
  libs/paintlet/src/check/check.paintlet.ts
  libs/paintlet/src/check/index.ts
  libs/paintlet/src/index.ts
  libs/paintlet/src/register-paintlet.ts
Due: paintlet

refactor(paintlet): update CSS custom properties for Rain and Ripple Paintlets
  libs/paintlet/.storybook/preview.ts
  libs/paintlet/LICENSE
  libs/paintlet/README.md
  libs/paintlet/package.json
  libs/paintlet/src/check/check.paintlet.stories.ts
  libs/paintlet/src/check/check.paintlet.ts
  libs/paintlet/src/pal-gradient/pal-gradient.paintlet.stories.ts
  libs/paintlet/src/pal-gradient/pal-gradient.paintlet.ts
  libs/paintlet/src/rain/rain.paintlet.stories.ts
  libs/paintlet/src/rain/rain.paintlet.ts
  libs/paintlet/src/ripple/ripple.paintlet.stories.ts
  libs/paintlet/src/ripple/ripple.paintlet.ts
Due: paintlet

build(paintlet): add GitHub Actions workflow for publishing Paintlet
  .github/workflows/paintlet.publish.yml
Due: none

refactor(paintlet): streamline paintlet registration code formatting
  libs/paintlet/src/register-paintlet.ts
Due: paintlet

feat(paintlet): add Ellipse Gradient Paintlet with customizable properties
  libs/paintlet/package.json
  libs/paintlet/src/ellipse-gradient/ellipse-gradient.paintlet.stories.ts
  libs/paintlet/src/ellipse-gradient/ellipse-gradient.paintlet.ts
  libs/paintlet/src/ellipse-gradient/index.ts
  libs/paintlet/src/index.ts
  tsconfig.base.json
Due: paintlet

refactor(paintlet): remove Ellipse Gradient Paintlet and related files
  libs/paintlet/package.json
  libs/paintlet/src/ellipse-gradient/ellipse-gradient.paintlet.stories.ts
  libs/paintlet/src/ellipse-gradient/ellipse-gradient.paintlet.ts
  libs/paintlet/src/ellipse-gradient/index.ts
  libs/paintlet/src/index.ts
Due: paintlet

fix(ng-pack/sse-client): specify default type parameter for start method
  libs/ng-pack/sse-client/src/client.ts
Due: none

feat(js-utils): add map function with tests and coverage reporting
  .github/workflows/js-utils.publish.yml
  libs/js-utils/README.md
  libs/js-utils/jest.config.ts
  libs/js-utils/package.json
  libs/js-utils/project.json
  libs/js-utils/src/index.ts
  libs/js-utils/src/object/index.ts
  libs/js-utils/src/object/map.spec.ts
  libs/js-utils/src/object/map.ts
  libs/js-utils/src/object/static/map.spec.ts
  libs/js-utils/src/object/static/map.ts
  libs/js-utils/src/time/days.spec.ts
  libs/js-utils/src/time/hours.spec.ts
  libs/js-utils/src/time/minutes.spec.ts
  libs/js-utils/src/time/months.spec.ts
  libs/js-utils/src/time/seconds.spec.ts
  libs/js-utils/src/time/weeks.spec.ts
  libs/js-utils/src/time/years.spec.ts
Due: js-utils

docs(js-utils): update Codecov badge links for js-utils and messenger
  libs/js-utils/README.md
  libs/messenger/README.md
Due: none

build(js-utils): update pnpm and Node.js action versions in workflow
  .github/workflows/js-utils.publish.yml
Due: none

feat(rx-utils): add pluck operator to extract values by key from objects
  libs/rx-utils/README.md
  libs/rx-utils/src/operators/index.ts
  libs/rx-utils/src/operators/pluck.ts
Due: rx-utils

build(rx-utils): add pluck operator to exports in package.json
  libs/rx-utils/package.json
Due: none

feat(ng-pack/utils): enhance constructFetcher to accept an Injector for HttpClient retrieval
  libs/ng-pack/utils/src/construct-fetcher.ts
Due: none

fix(ng-pack/utils): enhance toSignal function to support custom options type
  libs/ng-pack/utils/src/to-signal.ts
Due: none

feat(ng-pack/storage-signals): update storageSignal to accept Signal type for key parameter
  libs/ng-pack/storage-signals/src/storage.ts
Due: none

feat(ng-pack/storage-signals): update storage signal functions to accept Signal type for key parameter
  libs/ng-pack/storage-signals/src/cookie-storage.ts
  libs/ng-pack/storage-signals/src/local-storage.ts
  libs/ng-pack/storage-signals/src/session-storage.ts
Due: none

refactor(ng-pack/storage-signals): update imports and remove deprecated storage.ts file feat(ng-pack/utils): add observableSignalToSignal function for converting Observable to Signal
  libs/ng-pack/storage-signals/src/cookie-storage.ts
  libs/ng-pack/storage-signals/src/local-storage.ts
  libs/ng-pack/storage-signals/src/session-storage.ts
  libs/ng-pack/storage-signals/src/storage-signal.ts
  libs/ng-pack/storage-signals/src/storage.ts
  libs/ng-pack/utils/src/index.ts
  libs/ng-pack/utils/src/observable-signal-to-signal.ts
Due: none

refactor(ng-pack/storage-signals): update storage signal functions to use StorageKeyType for key parameter
  libs/ng-pack/storage-signals/src/cookie-storage.ts
  libs/ng-pack/storage-signals/src/local-storage.ts
  libs/ng-pack/storage-signals/src/session-storage.ts
  libs/ng-pack/storage-signals/src/storage-signal.ts
Due: none

feat(js-utils): add gather function to group array items by key and implement prototype method
  libs/js-utils/README.md
  libs/js-utils/package.json
  libs/js-utils/src/array/gather.spec.ts
  libs/js-utils/src/array/gather.ts
  libs/js-utils/src/array/index.ts
  libs/js-utils/src/array/proto/gather.spec.ts
  libs/js-utils/src/array/proto/gather.ts
  libs/js-utils/src/index.ts
Due: js-utils

feat(rx-utils): add fromCallback function to convert callback-based functions into Observables
  README.md
  libs/rx-utils/README.md
  libs/rx-utils/package.json
  libs/rx-utils/src/from-callback.ts
  libs/rx-utils/src/index.ts
Due: rx-utils

feat(messenger): add WebRTC DataChannel support with RTCMessageClient, RTCMessageHost, and RTCMessageService
  README.md
  libs/messenger/README.md
  libs/messenger/config/vitest.rtc.config.ts
  libs/messenger/package.json
  libs/messenger/project.json
  libs/messenger/src/rtc/channel-id.ts
  libs/messenger/src/rtc/default-channel-name.ts
  libs/messenger/src/rtc/index.ts
  libs/messenger/src/rtc/message-client.ts
  libs/messenger/src/rtc/message-host.ts
  libs/messenger/src/rtc/message-service.ts
  libs/messenger/src/rtc/rtc.type.ts
Due: none

refactor(messenger): update channel ID generation to use 10-bit range and adjust constructor parameters
  libs/messenger/README.md
  libs/messenger/src/rtc/channel-id.ts
  libs/messenger/src/rtc/message-service.ts
Due: none

refactor(messenger): update channel ID handling and constructor parameters in RTCMessageClient and RTCMessageHost
  libs/messenger/src/rtc/channel-id.ts
  libs/messenger/src/rtc/message-client.ts
  libs/messenger/src/rtc/message-host.ts
  libs/messenger/src/rtc/message-service.ts
Due: none

feat(messenger): implement ChannelController for managing RTCDataChannel instances and replace channel ID generation
  libs/messenger/src/rtc/channel-controller.ts
  libs/messenger/src/rtc/channel-id.ts
  libs/messenger/src/rtc/message-client.ts
  libs/messenger/src/rtc/message-host.ts
  libs/messenger/src/rtc/message-service.ts
Due: none

feat(messenger/rtc): enhance RTCMessageClient and RTCMessageHost with ready property for DataChannel readiness
  libs/messenger/src/rtc/message-client.ts
  libs/messenger/src/rtc/message-host.ts
  libs/messenger/src/rtc/message-service.ts
Due: none

fix(js-utils): fix mixin function
  libs/js-utils/src/class/mixin.ts
  libs/messenger/package.json
Due: js-utils

feat(messenger): enhance RTC messaging with explicit channel ID and initialization improvements
  README.md
  libs/messenger/README.md
  libs/messenger/src/rtc/channel-controller.ts
  libs/messenger/src/rtc/initializer.ts
  libs/messenger/src/rtc/message-client.ts
  libs/messenger/src/rtc/message-host.ts
  libs/messenger/src/rtc/message-service.ts
Due: none

feat(rx-utils): add debounceTimeBuffer operator for buffering emissions
  README.md
  libs/rx-utils/README.md
  libs/rx-utils/package.json
  libs/rx-utils/src/operators/debounce-time-buffer.ts
  libs/rx-utils/src/operators/index.ts
Due: rx-utils

feat(ng-pack/common): add common pipes for key-value data structures
  README.md
  libs/ng-pack/README.md
  libs/ng-pack/common/README.md
  libs/ng-pack/common/ng-package.json
  libs/ng-pack/common/src/entries.pipe.ts
  libs/ng-pack/common/src/index.ts
  libs/ng-pack/common/src/keys.pipe.ts
  libs/ng-pack/common/src/values.pipe.ts
  libs/ng-pack/project.json
  tsconfig.base.json
Due: none

refactor(pipes): optimize entries, keys, and values pipes for better performance and type handling
  libs/ng-pack/common/src/entries.pipe.ts
  libs/ng-pack/common/src/keys.pipe.ts
  libs/ng-pack/common/src/values.pipe.ts
Due: none

feat(ng-pack/common): add times pipe for generating index arrays in templates
  README.md
  libs/ng-pack/README.md
  libs/ng-pack/common/README.md
  libs/ng-pack/common/src/index.ts
  libs/ng-pack/common/src/times.pipe.ts
Due: none

feat(common): add ObserveSizeDirective for reactive element size observation
  README.md
  libs/ng-pack/README.md
  libs/ng-pack/common/README.md
  libs/ng-pack/common/src/index.ts
  libs/ng-pack/common/src/observe-size.directive.ts
Due: none

Path conditions:
  hermes: any of: libs/hermes/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  js-utils: any of: libs/js-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  ts-utils: any of: libs/ts-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  rx-utils: any of: libs/rx-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  react-utils: any of: libs/react-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  node-utils: any of: libs/node-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  nx-utils: any of: libs/nx-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  dom-utils: any of: libs/dom-utils/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  drag-drop: any of: libs/drag-drop/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  extra-ts-types: any of: libs/extra-ts-types/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  paintlet: any of: libs/paintlet/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
  reactive-storage: any of: libs/reactive-storage/src/, but not: docs/**, scripts/**, **/*.spec.ts, **/*.test.ts, **/test/**, **/tests/**
