Repository thalesrc/thalesrc: changes, and which Codecov flags are due for each by the changed paths.
All: hermes, js-utils, ts-utils, rx-utils, react-utils, node-utils, nx-utils, dom-utils, drag-drop, extra-ts-types, paintlet, reactive-storage

.codecov.yml:

# Codecov configuration for Thalesrc monorepo
# Documentation: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 1%
    patch:
      default:
        target: auto
        threshold: 1%

# Define flags for each library
# Each library uploads coverage with its own flag for independent tracking
flags:
  hermes:
    paths:
      - libs/hermes/src/
    carryforward: true

  js-utils:
    paths:
      - libs/js-utils/src/
    carryforward: true

  ts-utils:
    paths:
      - libs/ts-utils/src/
    carryforward: true

  rx-utils:
    paths:
      - libs/rx-utils/src/
    carryforward: true

  react-utils:
    paths:
      - libs/react-utils/src/
    carryforward: true

  node-utils:
    paths:
      - libs/node-utils/src/
    carryforward: true

  nx-utils:
    paths:
      - libs/nx-utils/src/
    carryforward: true

  dom-utils:
    paths:
      - libs/dom-utils/src/
    carryforward: true

  drag-drop:
    paths:
      - libs/drag-drop/src/
    carryforward: true

  extra-ts-types:
    paths:
      - libs/extra-ts-types/src/
    carryforward: true

  paintlet:
    paths:
      - libs/paintlet/src/
    carryforward: true

  reactive-storage:
    paths:
      - libs/reactive-storage/src/
    carryforward: true

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

# Ignore non-library paths
ignore:
  - "docs/**"
  - "scripts/**"
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/test/**"
  - "**/tests/**"

feat(ng-pack): initialize ng-pack library with Storybook integration
  .gitignore
  .prettierignore
  eslint.config.js
  libs/ng-pack/.storybook/main.ts
  libs/ng-pack/.storybook/preview.ts
  libs/ng-pack/README.md
  libs/ng-pack/eslint.config.cjs
  libs/ng-pack/ng-package.json
  libs/ng-pack/package.json
  libs/ng-pack/project.json
  libs/ng-pack/src/index.ts
  libs/ng-pack/src/lib/ng-pack/Introduction.mdx
  libs/ng-pack/src/lib/ng-pack/ng-pack.spec.ts
  libs/ng-pack/src/lib/ng-pack/ng-pack.stories.ts
  libs/ng-pack/src/lib/ng-pack/ng-pack.ts
  libs/ng-pack/tsconfig.json
  libs/ng-pack/tsconfig.lib.json
  libs/ng-pack/tsconfig.lib.prod.json
  libs/ng-pack/tsconfig.storybook.json
  libs/ng-pack/tsf/README.md
  libs/ng-pack/tsf/ng-package.json
  libs/ng-pack/tsf/src/index.ts
  libs/ng-pack/tsf/src/lib/tsf-module.stories.ts
  libs/ng-pack/tsf/src/lib/tsf-module.ts
  nx.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: none

feat(ng-pack): implement form and field directives with utility functions
  libs/ng-pack/package.json
  libs/ng-pack/tsf/src/lib/field-accessor.ts
  libs/ng-pack/tsf/src/lib/field.directive.ts
  libs/ng-pack/tsf/src/lib/form.directive.ts
  libs/ng-pack/tsf/src/lib/form.service.ts
  libs/ng-pack/tsf/src/lib/native-field-accessors/index.ts
  libs/ng-pack/tsf/src/lib/native-field-accessors/input-fa.directive.ts
  libs/ng-pack/tsf/src/lib/tsf-module.stories.ts
  libs/ng-pack/tsf/src/lib/tsf-module.ts
  libs/ng-pack/utils/README.md
  libs/ng-pack/utils/ng-package.json
  libs/ng-pack/utils/src/index.ts
  libs/ng-pack/utils/src/lib/provide-service-directive.ts
  libs/ng-pack/utils/src/lib/utils-module.ts
  tsconfig.base.json
Due: none

feat: update project name and references to Telperion, enhance form and field directives with new functionality
  README.md
  libs/ng-pack/package.json
  libs/ng-pack/tsf/src/lib/field-accessor.ts
  libs/ng-pack/tsf/src/lib/field.directive.ts
  libs/ng-pack/tsf/src/lib/form.directive.ts
  libs/ng-pack/tsf/src/lib/form.service.ts
  libs/ng-pack/tsf/src/lib/native-field-accessors/input-fa.directive.ts
  libs/ng-pack/tsf/src/lib/tsf-module.stories.ts
  package.json
Due: none

feat: enhance form and field directives with new computed properties and validation
  libs/ng-pack/.storybook/preview.ts
  libs/ng-pack/tsf/src/lib/field.directive.ts
  libs/ng-pack/tsf/src/lib/form.directive.ts
  libs/ng-pack/tsf/src/lib/native-field-accessors/input-fa.directive.ts
Due: none

feat(ng-pack/storage-signals): add storage signals library with local and session storage support
  libs/ng-pack/README.md
  libs/ng-pack/storage-signals/README.md
  libs/ng-pack/storage-signals/ng-package.json
  libs/ng-pack/storage-signals/src/index.ts
  libs/ng-pack/storage-signals/src/local-storage.ts
  libs/ng-pack/storage-signals/src/session-storage.ts
  libs/ng-pack/storage-signals/src/storage.ts
  tsconfig.base.json
Due: none

docs(ng-pack): add Angular utilities and libraries overview to README
  README.md
Due: none

feat(ng-pack): add .gitignore, update package.json and project.json for publishing, enhance tsconfig files, and improve copy functionality in nx-utils
  libs/ng-pack/.gitignore
  libs/ng-pack/ng-package.json
  libs/ng-pack/package.json
  libs/ng-pack/project.json
  libs/ng-pack/tsconfig.json
  libs/ng-pack/tsconfig.lib.prod.json
  libs/nx-utils/src/copy/executor.ts
  libs/nx-utils/src/fill-package-json/executor.ts
Due: nx-utils

feat(auto-proxy): add CUSTOM_HEADERS support for injecting custom HTTP headers
  libs/auto-proxy/README.md
  libs/auto-proxy/nginx.tmpl
Due: none

chore(auto-proxy): update project references from Thales to Telperion
  libs/auto-proxy/Dockerfile
  libs/auto-proxy/LICENSE
  libs/auto-proxy/README.md
  libs/auto-proxy/docker-entrypoint.sh
  libs/auto-proxy/generate-certs.sh
  libs/auto-proxy/nginx-stream.tmpl
  libs/auto-proxy/nginx.conf
  libs/auto-proxy/nginx.tmpl
  libs/auto-proxy/orchestrator.sh
  libs/auto-proxy/project.json
  libs/auto-proxy/start.sh
Due: none

feat(auto-proxy): add cleanup functions for stale runtime files in entrypoint and orchestrator scripts
  libs/auto-proxy/docker-entrypoint.sh
  libs/auto-proxy/orchestrator.sh
Due: none

build(auto-proxy): update image name and metadata for Telperion branding
  .github/workflows/auto-proxy.publish.yml
  .github/workflows/release-dispatcher.yml
Due: none

chore(auto-proxy): update image name to include 'telperiontech' for consistency
  .github/workflows/auto-proxy.publish.yml
  libs/auto-proxy/README.md
  libs/auto-proxy/project.json
Due: none

fix(auto-proxy): remove X-Frame-Options header from security settings
  libs/auto-proxy/nginx.tmpl
Due: none

fix(auto-proxy): enhance initial startup to ensure SSL certificates and generate nginx config
  libs/auto-proxy/orchestrator.sh
Due: none

fix(auto-proxy): correct proxy port usage in database server configurations
  libs/auto-proxy/nginx-stream.tmpl
Due: none

feat(ng-pack): add SSE client service with interceptors and documentation
  README.md
  libs/ng-pack/README.md
  libs/ng-pack/sse-client/README.md
  libs/ng-pack/sse-client/ng-package.json
  libs/ng-pack/sse-client/src/client.ts
  libs/ng-pack/sse-client/src/features/feature.ts
  libs/ng-pack/sse-client/src/features/index.ts
  libs/ng-pack/sse-client/src/features/with-interceptors.ts
  libs/ng-pack/sse-client/src/index.ts
  libs/ng-pack/sse-client/src/interceptor.ts
  libs/ng-pack/sse-client/src/provider.ts
  tsconfig.base.json
Due: none

docs(ng-pack): enhance SSE client documentation and update keywords in package.json
  libs/ng-pack/package.json
  libs/ng-pack/project.json
  libs/ng-pack/sse-client/README.md
Due: none

docs(ng-pack): add badges for npm version, downloads, and license in README
  libs/ng-pack/README.md
Due: none

chore(reactive-storage): update reactive storage references and license information
  .github/workflows/reactive-storage.publish.yml
  .github/workflows/release-dispatcher.yml
  libs/reactive-storage/LICENSE
  libs/reactive-storage/package.json
  tsconfig.base.json
Due: none

docs(reactive-storage): enhance documentation for reactive storage classes and methods
  README.md
  libs/reactive-storage/README.md
  libs/reactive-storage/src/reactive-storage.ts
  libs/reactive-storage/src/reactive-web-local-storage.ts
  libs/reactive-storage/src/reactive-web-session-storage.ts
  libs/reactive-storage/src/reactive-web-storage.ts
Due: reactive-storage

feat(async-iterator): add asyncDispose method to handle subscription cleanup
  libs/reactive-storage/src/async-iterator.polyfill.ts
Due: reactive-storage

feat(reactive-storage): implement ReactiveCookieStorage for cookie management and add jsonParse utility
  libs/reactive-storage/README.md
  libs/reactive-storage/src/index.ts
  libs/reactive-storage/src/json-parse.ts
  libs/reactive-storage/src/reactive-cookie-storage.ts
  libs/reactive-storage/src/reactive-web-storage.ts
Due: reactive-storage

build(reactive-storage): update package.json with enhanced description, keywords, and exports
  libs/reactive-storage/package.json
Due: none

feat(ng-pack/storage-signals): add cookie storage support with configuration options and update documentation
  README.md
  libs/ng-pack/README.md
  libs/ng-pack/package.json
  libs/ng-pack/storage-signals/README.md
  libs/ng-pack/storage-signals/src/cookie-storage.ts
  libs/ng-pack/storage-signals/src/index.ts
  libs/ng-pack/storage-signals/src/local-storage.ts
  libs/ng-pack/storage-signals/src/session-storage.ts
  libs/ng-pack/storage-signals/src/storage-signal.ts
  libs/ng-pack/storage-signals/src/storage.ts
Due: none

fix(ng-pack): correct allowedNonPeerDependencies for reactive-storage package
  libs/ng-pack/ng-package.json
Due: none

fix(ng-pack/storage-signals): specify generic type for storageSignal return value
  libs/ng-pack/storage-signals/src/cookie-storage.ts
Due: none

feat(js-utils): add time utility functions for days, hours, minutes, seconds, weeks, months, and years
  libs/js-utils/package.json
  libs/js-utils/src/time/days.ts
  libs/js-utils/src/time/hours.ts
  libs/js-utils/src/time/index.ts
  libs/js-utils/src/time/minutes.ts
  libs/js-utils/src/time/months.ts
  libs/js-utils/src/time/seconds.ts
  libs/js-utils/src/time/weeks.ts
  libs/js-utils/src/time/years.ts
Due: js-utils

docs(js-utils): add time utility functions for seconds, minutes, hours, days, weeks, months, and years with examples in documentation
  libs/js-utils/README.md
  libs/js-utils/src/time/days.ts
  libs/js-utils/src/time/hours.ts
  libs/js-utils/src/time/minutes.ts
  libs/js-utils/src/time/months.ts
  libs/js-utils/src/time/seconds.ts
  libs/js-utils/src/time/weeks.ts
  libs/js-utils/src/time/years.ts
Due: js-utils

build(messenger): add Messenger publish workflow and update release dispatcher for library validation
  .github/workflows/messenger.publish.yml
  .github/workflows/release-dispatcher.yml
Due: none

refactor(messenger): update IFrame type to allow undefined and adjust usage in IframeMessageClient and IframeMessageHost
  libs/messenger/src/iframe/iframe.type.ts
  libs/messenger/src/iframe/message-client.ts
  libs/messenger/src/iframe/message-host.ts
Due: none

fix(messenger): update postMessage to include target origin for security
  .codecov.yml
  libs/messenger/src/iframe/message-host.ts
Due: none

refactor(messenger): update IFrame types and improve initialization in message client, host, and service
  libs/messenger/src/iframe/iframe.type.ts
  libs/messenger/src/iframe/message-client.ts
  libs/messenger/src/iframe/message-host.ts
  libs/messenger/src/iframe/message-service.ts
Due: none

fix(messenger): make targetFrame optional in IframeMessageClient and IframeMessageService constructors
  libs/messenger/src/iframe/message-client.ts
  libs/messenger/src/iframe/message-service.ts
Due: none

fix(messenger): handle non-observable results in message listeners by converting promises and values
  libs/messenger/src/message-host.ts
Due: none

fix(js-utils): re-export time utilities from js-utils
  libs/js-utils/src/index.ts
Due: js-utils

fix(messenger): call initialize with targetFrame in IframeMessageService constructor
  libs/messenger/src/iframe/message-service.ts
Due: none

fix(messenger): call initialize using prototype method in IframeMessageClient, IframeMessageHost, and IframeMessageService constructors
  libs/messenger/src/iframe/message-client.ts
  libs/messenger/src/iframe/message-host.ts
  libs/messenger/src/iframe/message-service.ts
Due: none

refactor(rx-utils) update package references from @thalesrc to @telperion in README, libraries, and package.json files
  README.md
  apps/osw/home/src/Home/libraries.ts
  libs/reactive-storage/package.json
  libs/reactive-storage/src/reactive-storage.ts
  libs/rx-utils/LICENSE
  libs/rx-utils/README.md
  libs/rx-utils/package.json
  libs/rx-utils/src/static/async-iterator.ts
  libs/rx-utils/src/to-async-iteratable.ts
  tsconfig.base.json
Due: rx-utils, reactive-storage
